.wordContainer {
    width: 100%; 
    height: 20px; 
}

.ltrHolder {
   
    
}

.aLtr {
    visibility: hidden;
    font-family: 'Share Tech Mono', monospace;
}

.aLtrShow {
    visibility: visible;
    font-family: 'Share Tech Mono', monospace;
}