body {
    background-color: black; 

}

p, ol {
    color: white; 
    font-family: 'Share Tech Mono', monospace; 
}

h1, h2, h3 {
    color: white;     
    font-family: 'Share Tech Mono', monospace; 
   
}

.label {
text-align: center; 
}

.ltrHolder {
    vertical-align: bottom;
    text-align: center; 
    border-bottom: 8px; 
    border-bottom-color: red; 
    border-bottom-style: groove; 
    
}

.aLtr {
    visibility: hidden;
    font-family: 'Share Tech Mono', monospace;

}

.aLtrShow {
    position: absolute; 
    bottom: 0;  
    /* text-align: center;   */
    visibility: visible;
    font-family: 'Share Tech Mono', monospace; 
    font-size: 2rem; 
    vertical-align: bottom;  
    color: white; 
    font-weight: bold; 
    /* border-bottom-width: 15px; */
    
}

#gameDash li {
    background-color: black; 
}

#labelRem {
    font-size: 10rem; 
}