

.ltrHolder {
    vertical-align: bottom;
    text-align: center; 
    border-bottom: 5px; 
    border-bottom-color: red; 
    border-bottom-style: groove; 
    
}

.aLtr {
    visibility: hidden;
    font-family: 'Share Tech Mono', monospace;
}

.aLtrShow {
    position: absolute; 
    bottom: 0;  
    /* text-align: center;   */
    visibility: visible;
    font-family: 'Share Tech Mono', monospace; 
    font-size: 20pt; 
    vertical-align: bottom;  
    /* border-bottom-width: 15px; */
    
}